Thumbs.db
Desktop.ini
.DS_Store
__MACOSX
.idea
.coverage

*.log
*.py[co]
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
pip-selfcheck.json

bin
include
lib
local
share

env
venv
.env
.venv

*.jic
*.wav
*.pdf
*.png
*.svg
*.ipynb_checkpoints
